/* Main */

html,
body,
.container {
  height: 100%;
  width: 100%;
}

.map-canvas {
  width: 100%;
  height: 100%;
  background-color: pink;
  position: absolute;
  z-index: 2;
}

.map-form {
  width: 360px;
  position: absolute;
  bottom: 2%;
  right: 2%;
  z-index: 4;
}