<form ng-submit="vm.addVegie()">
  <div class="control is-horizontal">
    <div class="control-label">
      <label for="name" class="label">Nome</label>
    </div>

    <div class="control is-grouped">
      <p class="control is-expanded">
        <input
          id="name"
          class="input"
          type="text"
          ng-model="vm.form.name"
          placeholder="Nome do Veggie">
      </p>
    </div>
  </div>

  <div class="control is-horizontal">
    <div class="control-label">
      <label for="address" class="label">Endereço</label>
    </div>

    <div class="control is-grouped">
      <p class="control is-expanded">
        <input
          id="address"
          class="input"
          type="text"
          ng-model="vm.form.address"
          placeholder="Endereço do Veggie">
      </p>
    </div>
  </div>

  <div class="control">
    <label class="radio">
      <input
        type="radio"
        name="type"
        ng-model="vm.form.type"
        value="evento">

        Evento
    </label>

    <label class="radio">
      <input
        type="radio"
        name="type"
        ng-model="vm.form.type"
        value="fixo">

        Fixo
    </label>
  </div>

  <div class="control">
    <button type="submit" class="button is-primary">Pronto</button>
  </div>
</form>